.listingTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-spacing: 0;
    font-size: 1rem;
    text-transform: none;
}

.listingTable__header,
.listingTable__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listingTable__header {
    border-bottom: 1px solid #e3e3e3;
}

.listingTable__row {
    border-bottom: 1px dotted #e3e3e3;
}

.listingTable__cell {
    padding: 0.5rem 0.25rem;
    text-align: center;
}

.listingAsset {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.listingAssetCard {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listingTableRank {
    width: 10%;
}

.listingTableLogo {
    width: 15%;
}

.listingTableAssetName {
    width: 75%;
}

.listingAssetInfo {
    width: 40%;
    display: flex;
    flex-direction: row;
}

.listingAssetInfoData {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listingTableVotes {
    width: calc(100% / 3);
}

.listingTableGoal {
    width: calc(100% / 3);
}

.listingTableStatus {
    width: calc(100% / 3);
}

.listingTableProgress {
    width: 25%;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.nowrap {
    white-space: normal;
}

.listingAssetInfoBlock {
    display: none;
}

@media (min-width: 768px) {
    .nowrap {
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .listingTable__cell {
        padding: 0.5rem 0;
    }

    .listingTable__header {
        display: none;
    }

    .listingAssetCard {
        width: 100%;
        justify-content: flex-end;
    }

    .listingAsset {
        flex-direction: column;
    }

    .listingTableRank {
        align-self: center;
    }

    .listingTableLogo {
        width: 15%;
    }

    .listingTableAssetName {
        width: 75%;
        align-self: center;
        padding: 0 0 0.5rem 1rem;
    }

    .listingAssetInfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: flex-end;
    }

    .listingAssetInfoData {
        width: 75%;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .listingTableVotes {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0.5rem 1rem;
    }

    .listingTableGoal {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0.5rem 1rem;
    }

    .listingTableStatus {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 0 0.5rem 1rem;
    }

    .listingTableProgress {
        width: 15%;
        align-self: center;
        order: 1;
    }

    .listingAssetInfoBlock {
        display: block;
    }
}

body .listing_button .ant-btn-disabled,
body .listing_button .ant-btn-disabled.active,
body .listing_button .ant-btn-disabled:active,
body .listing_button .ant-btn-disabled:focus,
body .listing_button .ant-btn-disabled:hover,
body .listing_button .ant-btn.disabled,
body .listing_button .ant-btn.disabled.active,
body .listing_button .ant-btn.disabled:active,
body .listing_button .ant-btn.disabled:focus,
body .listing_button .ant-btn.disabled:hover,
body .listing_button .ant-btn[disabled],
body .listing_button .ant-btn[disabled].active,
body .listing_button .ant-btn[disabled]:active,
body .listing_button .ant-btn[disabled]:focus,
body .listing_button .ant-btn[disabled]:hover {
    color: red !important;
    border-color: red !important;
}

.listingTable__cell.listingTableVotes a {
    border: 1px solid #00a9e0;
    display: block;
    padding: 4px 6px 3px 0px;
    border-radius: 3px;
}

@media only screen and (max-width: 468px) {
    .listingTable__cell.listingTableVotes a {
        position: absolute;
        right: 20px;
    }
}

.coin-soon {
    border: 1px solid grey !important;
    color: grey !important;
}

.listingTable__cell.listingTableVotes a:hover {
    border-color: #1652f0;
}
